<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">

	<!-- wp:group {"align":"wide"} -->
	<div class="wp-block-group alignwide">

		<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search...","width":400,"widthUnit":"px","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"align":"center","borderColor":"foreground"} /-->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"4em","bottom":"4em"}}}} -->
		<div class="wp-block-group" style="margin-top:4em;margin-bottom:4em">
			<!-- wp:separator {"backgroundColor":"secondary","className":"is-style-davis-separator"} -->
			<hr class="wp-block-separator has-text-color has-secondary-color has-alpha-channel-opacity has-secondary-background-color has-background is-style-davis-separator" />
			<!-- /wp:separator -->
		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"loop"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->